mat-drawer-container {
    height: 100vh;
}
mat-drawer-content {
    overflow: hidden;
}

mat-drawer {
    width: 20%;
    border-left: 3px solid rgb(79, 141, 170) !important;
    box-shadow: 0 0 20px rgb(189, 189, 189);
}

mat-toolbar {
    background-color: white;
    border-bottom: 3px solid rgb(79, 141, 170);
    box-shadow: 0 0 20px rgb(189, 189, 189);
}

.example-spacer {
    flex: 1 1 auto;
  }
  
div.content-page {
    padding: 1% 0;
    height: 90vh;
    overflow: auto;
}

.nav-menu {
    ul {
        &, li {
            padding: 0;
            margin: 0px;
            list-style: none;
        }
        li {
            font-size: 20px;
            font-weight: bolder;
            i {
                margin-left: 15px;
            }
            a {
                text-decoration: none;
                display: block;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #8b8b8b;
                position: relative;
                transition:.3s padding-left ease;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0px;
                    background-color: #ff7315;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s opacity ease, .3s visibility ease, .3s width ease;
                }
                &:active, &:focus, &:hover {
                    outline: none;
                }
                &:hover {
                    background: lighten(#efefef, 5%);
                    color: #000;
                    &:before {
                        width: 6px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &.active {
                a {
                    background: lighten(#efefef, 5%);
                    color: #000;
                    &:before {
                        opacity: 1;
                        visibility: visible;
                        width: 6px;
                    }
                }
            }
        }
    }
}